* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
  margin-left: 80px;
  transition: margin-left 0.3s;
}

.App {
  height: 100%;
}
